body{
    margin: 0;
    font-family:sans-serif;
    display: flex;
    background-size:cover;
    
    align-items: center;
    height: 100vh;
    justify-content: center;
    background:url( https://images.unsplash.com/photo-1705582866703-b4fd3bae6ddd?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0M3x8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    font-size: larger;
}
input{
    background-color:pink;
    color: black;
     
}
button{
    background-color: palevioletred;
    
}